*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

\.idea/

app/src/main/assets/keys.properties

app/libs/beaglebuddy/build/
app/libs/beaglebuddy/bin/
app/libs/kidsplace_sdk/build/
app/libs/kidsplace_sdk/bin/

app/release/

