*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

\.idea/

app/src/main/assets/keys.properties

libs/beaglebuddy/build/

libs/kidsplace_sdk/build/

app/release/
